Adafruit-PureIO==1.1.11
Adafruit_GPIO==1.0.3
Adafruit_WS2801==1.0.1
blinker==1.8.2
caribou==0.4.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
holidays==0.59
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
paho-mqtt==2.1.0
pbr==6.1.0
pillow==11.0.0
PyMeeus==0.5.12
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
RPi.GPIO==0.7.1
six==1.16.0
smbus==1.1.post2
spidev==3.6
tendo==0.3.0
urllib3==2.2.3
Werkzeug==3.1.0
zipp==3.20.2
